<!doctype html>
<html>
  <head>
    <title>zebulon-grid example with angular</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <style>
    .content {
      margin: 0 auto;
      padding: 0 2em;
      margin-bottom: 50px;
    }
    .header {
      max-width: 768px;
      margin: 0 auto;
      padding: 1em;
      text-align: center;
      border-bottom: 1px solid #eee;
      background: #fff;
    }
    .header h1 {
      font-size: 300%;
      font-weight: 100;
      margin: 0;
    }
    </style>
    <link rel="stylesheet" href="index.css">
  </head>
  <body ng-app="app" ng-controller="mainCtrl">
    <div class="content">

      <div class="header">
        <h1>Pivot Grid Component</h1>
      </div>

      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li><a href="#" ng-click="pushData()">Push data</a></li>
          <li><a href="#" ng-click="toggleDatafield()">Toggle datafield</a></li>
          <li><a href="#" ng-click="moveField()">Move field</a></li>
        </ul>
      </div>

    <my-grid data="data" config="config" ref="ref" watch-depth="reference"></my-grid>
    </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/react/react.js"></script>
    <script src="./bower_components/react/react-dom.js"></script>
    <script src="./bower_components/ngReact/ngReact.min.js"></script>

    <script src="zebulon-grid.js"></script>
    <script src="app.js"></script>
  </body>
</html>
